.titulo-cabecalho {
    font-family: exo2;
    font-size: 24px;
    font-weight: 700;
    height: 32px;
    line-height: 32px;
    color:#101213;
    text-transform: uppercase;
    vertical-align: top;
    margin: 0;
}

.breadcrumb {
    font-family: open-sans;
    font-size: 12px;
    font-weight: 400;
    color:#889488;    
    height: 18px;
    line-height: 18px;
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}
.breadcrumb li {
    margin:5px 2px;
}

.breadcrumb li:nth-child(1){
    margin-left:0;
}
section.cabecalho {
    display: flex;    
    justify-content: space-between;
}

section.cabecalho .left
{
    height: 65px;
    margin:0 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
section.cabecalho .right {
    display: flex;
    align-items: center;
}
section.cabecalho .right div {
    margin-right:15px !important;
}
section.cabecalho .right .icone-sino{
    width: 32px;
    height: 32px;
}

.bagde-component {
    position: relative;
    max-width: 32px;
    float:right;
}
.bagde-component .bagde {
    position: absolute;
    top:2px;
    right: 3px;
    width:14px;
    height: 14px;
    line-height: 14px;
    font-family: open-sans;
    font-size: 10px;
    font-weight: 400;
    color:#FFF;    
    background-color: #ff0101;
    border-radius: 50%;
    text-align: center;
    font-weight: bold;
}

.btn-cooperativas {
    position: relative;
    float:right;
    border: 1px solid #125D79;
    background-color: #FFF;
    border-radius: 15px;
    height: 32px;
    line-height: 32px;

    width: 134px;
}

.btn-cooperativas p {
    font-family: exo2;
    font-weight: bold;
    font-size:14px;
    color:#125D79;
    text-align: center;
    margin:0;
}

.user-avatar {
    position: relative;
    float:right;

}

.user-avatar img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border:1px solid #125D79;
}