<section class="cabecalho">
    <div class="left">
        <h1 class="titulo-cabecalho">Nova Admissão Cooperado</h1>
        <ul  class="breadcrumb">
            <li>Cadastro</li>
            <li>/</li>
            <li>Admissão do Cooperado</li>
            <li>/</li>
            <li>Nova Admissão de Cooperado</li>
        </ul>
    </div>
    <div class="right">        
        <div class="bagde-component">
            <span class="bagde">7</span>
            <img src="./assets/icon/sino.png" class="icone-sino" />
        </div>        
        <div class="btn-cooperativas">
            <p>VIACREDI</p>
        </div>
        <div class="user-avatar">
            <img src="./assets/img/user-avatar.jpg" />
        </div>        
    </div>
</section>